body {
	background-color: #222;
	font-family: "lucida grande","Segoe UI",Arial, sans-serif; 
	font-size: 14px;
	width:1024;
	padding:1em;
	
}

th { font-weight: bold; color: #000; background-color: #DF7401; padding:.5em 1em 1.5em .2em; text-align: left; cursor:pointer; user-select: none;}
th .indicator { margin-left: 6px;}
thead { border-top: 1px solid #FF4000; border-bottom: 1px solid #FF8000; border-left: 1px solid #FF8000; border-right: 1px solid #FF8000;}
#top { margin-bottom: 10px;height:52px;text-align: center;}
label { display:block; font-size:11px; color:#555;}
#breadcrumb { padding-top:34px; font-size:15px; color:#aaa; display:inline-block;}
#breadcrumb div{ display: inherit;}
#breadcrumb div a { padding: 10px 0px 10px 0px; }
#folder_actions {width: 50%;float:right;}
a, a:visited { color:#DF7401; text-decoration: none; cursor: pointer;}
a:hover {text-decoration: underline}
.sort_hide{ display:none;}
table {border-collapse: collapse; width: 100%;}
thead {max-width: 100%;}
td { padding:.2em 1em .2em .2em; border-bottom:1px solid #def;height:30px; font-size:12px;white-space: nowrap; color:#AAA;}
td.first {font-size:14px; white-space: normal;}
td.empty { color:#777; font-style: italic; text-align: center;padding:3em 0;}
.is_dir .download{visibility: hidden;}
.capacity{ margin-left: 10px;}

.change-password{ position: fixed; bottom: 10px; left: 10px; }
.mkdir{ font-weight: bold; font-size: 150%; }
.ytdl{ display: none;}